<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/signs_characteristic.css">

    <link rel="shortcut icon" href="../../img/logo.ico" type="image/x-icon">
    <title>Astrology | Водолій</title>
</head>

<body>
    <div id="main_container">
        <div id="header">
            <img id="img" src="../../img/logo.png">
        </div>
        <ul class="menu-main">
            <li><a href="/">Головна</a></li>
            <li><a href="/news">Новини астрології</a></li>
            <li><a href="/characteristics" class="active">Характеристика знаків зодіаку</a></li>
            <li><a href="/day_advice">Порада дня</a></li>
            <li><a href="/year_horoscope">Гороскоп на рік</a></li>
        </ul>
        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Водолій<br>
                    21 січня – 20 лютого</h3>
                <p>Колір – фіолетовий<br>
                    Самоцвіт-оберіг – цирконій або гранат<br>
                    Стихія – повітря<br>
                    Планета – Сатурн</p>
                <img id="img3" src="../../img/aquarius.png">
                <p>Водолії – люди суцільні суперечності. Їх настрій змінюється навіть не 1000 разів на день, а набагато
                    частіше. Вони яскраві індивідуалісти з темпераментом, який не можливо не помітити. Водолії волелюбні
                    й незалежні, також досить категоричні. Улюбленці Сатурну ненавидять монотонну та нудну роботу. </p>
                <p>Водоліїв можна сміливо назвати ще одними романтиками зодіакального кола. </p>
                <p>Вони вирізняються своєю сентиментальністю та чутливістю. </p>
                <p>Ці представники стихії повітря справжні модники. Вони люблять експериментувати, виділятися,
                    ризикувати та знаходити нове. Водолій є різнобічною особистістю, що володіє розвиненою фантазією та
                    творчим потенціалом. Який колір цього сезону? Що нині є трендовим? Ці та багато інших питань можна
                    задати Водолію.</p>
                <p>Народжені під цим сузір'ям товариські, вони легко знаходять спільну мову з іншими, і нерідко роблять
                    це з тими, кого називають "потрібними зв'язками". Водночас народжені під знаком Водолія дуже вірні
                    натури, хоча справжніх друзів у них не так уже й багато. Тривалі та серйозні відносини зазвичай
                    підтримують недовго.</p>
                <p>Існує твердження, що Водолії справжні лицеміри та без емоційні сухарі. Насправді ж нерідко цей знак
                    просто приховує свої справжні почуття і емоції, вважаючи, що за їх прояви вони можуть здаватися
                    слабкими і вразливими.</p>
                <p>Водолії люблять комфорт, прагнуть мати достаток, який дозволить їм здійснювати свої мрії, а таких у
                    них чимало.</p>
                <div id="footer">
                    <div class="left_footer">Astrology &copy; 2022</div>
                    <div class="right_footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>