<%- include('../../partials/meta', {title: '| Овен', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
                <div class="returnButton">
					<a href="/characteristics">
						<img src="../../img/back_arrow.png" alt="back_arrow">
					</a>
				</div>
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Овен<br>
                    21 березня – 21 квітня</h3>
                <p>Колір – червоний<br>
                    Самоцвіт-оберіг – діамант<br>
                    Стихія – вогонь<br>
                    Планета – Марс</p>
                <img id="img3" src="../../img/aries.png">
                <p>Представники цього знаку – природжені лідери. Вони талановито об’єднують людей для сумісної праці.
                    Овен – суцільне джерело ініціативи та енергії. Він не боїться експериментувати та пробувати щось
                    дійсно нове. Окрім цього, Овни не мають психічних бар’єрів, а тому якщо вони раптово почнуть
                    танцювати посеред вулиці або ж спонукатимуть поїхати у подорож автостопом, то занадто не дивуйтеся.
                    Вони відрізняються розумовими здібностями, умінням зосереджуватися, мають багато талантів.</p>
                <p>Будучи оптимістами, намагаються ігнорувати негатив, і, незважаючи на свою практичність, вони часто
                    вважають за краще жити одним днем.</p>
                <p>Про впертість Овнів, мабуть, вже ходять легенди: можуть переконати будь-кого в будь-чому. Вони не
                    чекають ні від кого милості та відстоюють свої інтереси. Якщо з’явилася дійсно варта уваги задача,
                    то перевернуть увесь всесвіт та не будуть спати вночі, однак зроблять.</p>
                <p>Те, що Овни це представники стихії вогонь не підлягає жодним сумнівам – можуть бути нетерплячими та
                    занадто запальними. Ми дійсно співчуваємо тим, хто стане на їх шляху або ж стане ворогом.</p>
                <p>У Овнів сильний і владний характер. Властива їм і гордість, хоробрість, амбіції, бажання все
                    контролювати. Не чуже їм і бажання володіти матеріальними благами.</p>
                <p>Не варто ображатися на цей знак зодіаку, якщо вони скажуть, що сукня відверто Вам не пасує або ж
                    зачіска це приклад минулого століття. Овен не хоче Вас образити, просто він прямолінійний та не дуже
                    добре ставиться до брехні.
                    Попри свій непростий характер, Овни щедрі й великодушні, а ще й вірні друзі.</p>

                <%- include('../../partials/footer'); %>

            </div>
        </div>
    </div>
</body>

</html>