<%- include('../../partials/meta', {title: '| Рак', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
                <a href="/characteristics">
                    <div class="returnButton">
                        <img src="../../img/back_arrow.png" alt="back_arrow">
                    </div>
                </a>
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Рак<br>
                    22 червня – 22 липня</h3>
                <p>Колір – зелений<br>
                    Самоцвіт-оберіг – хризоберил або смарагд<br>
                    Стихія – вода<br>
                    Планета – Місяць</p>
                <img id="img3" src="../../img/cancer.png">
                <p>Раки вразливі та сентиментальні. Їхня реакція на все, що відбувається навколо дуже швидка й виразна.
                    Представники цього знаку часто відчувають складні душевні переживання. Зазвичай вони доброзичливі,
                    люб'язні та відверті, але можуть бути меланхолійними, замкнутими й стриманими. Тому так і хочеться
                    сказати, що вони просто котики, яким не обов’язково звертати увагу на всю жорстокість світу.
                    Улюбленці Місяця ще й сором'язливі. </p>
                <p>Рак це людина романтична, схильна більше до життя в своєму світі, ніж до публічності. Не потрібно й
                    займати їм потягу до мистецтва. Не варто дивуватися якщо брутальний хлопець раптово розповість, що
                    займається виготовленням прикрас з бісеру або ж гарно малює. </p>
                <p>Представники цього знаку люблять комфорт та безпеку. Можуть уникати критики та тиску на себе, хоча
                    при цьому вони досить вперті.</p>
                <p>Раки вельми тактовні й дипломатичні. За бажанням вони непогано знаходять спільну мову з людьми, а
                    завдяки цим своїм якостям мають здатність без втрат та шкоди для себе виходити з конфліктних та
                    інших неприємних ситуацій. При цьому підлесниками назвати їх не можна.</p>
                <p>Не позичати їм і емоційного, непоганого, і навіть тонкого почуття гумору. Але ці якості уживаються в
                    них із непереможним песимізмом, який не дає їм спокою навіть у ті хвилини, коли об'єктивно нічого їм
                    не заважає відчувати себе щасливими.</p>
                <p>Варто також зазначити, що підлеглі Місяця – досить таємничі та наділені чудовою інтуїцією.</p>
                
                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>