<%- include('../../partials/meta', {title: '| Козеріг', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Козеріг<br>
                    22 грудня – 20 січня</h3>
                <p>Колір – брунатний або чорний<br>
                    Самоцвіт-оберіг – онікс, малахіт або рубін<br>
                    Стихія – земля<br>
                    Планета – Сатурн</p>
                <img id="img3" src="../../img/carpicorn.png">
                <p>Про Козерогів існує твердження, що вони черстві сухарі, що не здатні на почуття. Насправді ж таке
                    враження часто буває хибним, бо Козероги це максимально потайливі люди. Вони здатні на прояви
                    яскравих та щирих почуттів хоча й домогтися такого важко. Якщо ж з Вами Козеріг поводить себе досить
                    відверто, то дозвольте привітати – ви стали справжніми друзями. У кожного представнику знаку є своє
                    маленьке хобі, яке, можливо, досить здивує Вас.</p>
                <p>До сильних якостей представників цього знаку можна віднести цілеспрямованість, стійкість і
                    відповідальність. Козеріг має дар не втрачати з уваги головну мету. Він не боїться самотності й
                    готовий переносити будь-які життєві труднощі, долати навіть найскладніші перешкоди. Так, це
                    представники отої молоді, яким ледь-ледь виповнюється 18 років і вони вже живуть самостійно в
                    затишній квартирці у спальному районі міста та мають стабільний заробіток.</p>
                <p>Не позбавлені Козероги й якоїсь самовпевненості. Згодні, це звичайно призводить до конфліктів та
                    певних незручностей у спілкуванні, однак завдяки цьому немає невпевненості у своїх силах.</p>
                <p>Улюбленці Сатурну відверті прагматики. Їм необхідно мати контроль над усім. Мають аналітичний склад
                    розуму та декілька запасних планів своїх дій. Наділені вони й здоровим глуздом та розважливістю, а
                    тому якщо Ви спробуєте втягнути їх у якусь сумнівну авантюру з точністю 99,99 % вони вам відмовлять.
                </p>
                
                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>