<%- include('../../partials/meta', {title: '| Терези', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
                <div class="returnButton">
					<a href="/characteristics">
						<img src="../../img/back_arrow.png" alt="back_arrow">
					</a>
				</div>
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Терези<br>
                    24 вересня – 23 жовтня</h3>
                <p>Колір – лазур<br>
                    Самоцвіт-оберіг – опал<br>
                    Стихія – повітря<br>
                    Планета – Венера</p>
                <img id="img3" src="../../img/libra.png">
                <p>Всі ж знають хто такі буддистські монахи? Так от, Терези зі своїм прагненням до гармонії їм не
                    поступаються. Вони також є естетами. Улюбленцям Венери притаманні стійкість духу і непохитна воля до
                    перемоги в будь-якому суперництві.</p>
                <p>Терези – трудоголіки, які бажають поліпшити життя інших людей. Тут треба нагади, що сон та відпочинок
                    нікому не завадить, навіть Терезам із їх витривалістю. </p>
                <p>Терези - вірні безкорисливі друзі. Окрім цього вони делікатні, тактовні та дипломатичні. Мають гарне
                    почуття гумору. Це ще один представник зодіакального кола, що надає мудрі поради, здатний
                    раціонально оцінити ситуацію й зробити правильні висновки.</p>
                <p>До недоліків цього знаку можна віднести непрактичність і надмірну мрійливість. </p>
                <p>Цей знак є дуже відовідальним, тому якщо Вам сказали, що задання обов’язково буде виконане – можете
                    не сумніватися в цьому. Окрім цього воно буде виконано дуже якісно, щоб двічі не перероблювати.</p>
                <p>Представники цього сузір’я вирізняються розумовими здібностями. Мають спокійний характер рівно до
                    того моменту, поки щось вже дуже взбісить – у такі моменти щиро співчуваємо опинитися поруч.</p>

                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>