<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/signs_characteristic.css">
    
    <link rel="shortcut icon" href="../../img/logo.ico" type="image/x-icon">
    <title>Astrology | Скорпіон</title>
</head>

<body>
    <div id="main_container">
        <div id="header">
            <img id="img" src="../../img/logo.png">
        </div>
        <ul class="menu-main">
            <li><a href="/">Головна</a></li>
            <li><a href="/news">Новини астрології</a></li>
            <li><a href="/characteristics" class="active">Характеристика знаків зодіаку</a></li>
            <li><a href="/day_advice">Порада дня</a></li>
            <li><a href="/year_horoscope">Гороскоп на рік</a></li>
        </ul>
        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Скорпіон<br>
                    24 жовтня – 22 листопада</h3>
                <p>Колір – червоний<br>
                    Самоцвіт-оберіг – корал<br>
                    Стихія – вода<br>
                    Планета – Марс</p>
                <img id="img3" src="../../img/scorpio.png">
                <p>Представники знаку Скорпіон дуже харизматичні та темпераментні. Ці люди здатні втягнути Вас у
                    будь-яку авантюру, тому пригод на голову вистачить під час спілкування з ними. Ви навіть спочатку
                    можете й не зрозуміти куди Вас було втягнуто та які наслідки будуть. До того ж улюбленці Марсу це
                    справжнє джерело сюрпризів, тому не варто дивуватися якщо вони організують Вам несподіваний квест
                    або ж приїдуть о третій годині ночі. </p>
                <p>Улюбленці Марсу часто можуть змінювати свою думку та ставлення до чогось під час виконання певної
                    «ідеї фікс». Це ще один представник зодіакального кола від якого йде неймовірна енергія. Однак
                    незважаючи на це все, список недороблених справ у Скорпіонів, мабуть, найбільший аніж в інших. Якщо
                    справа втрачає сенс чи перестає приносити матеріальний прибуток, Скорпіон не буде на неї витрачати
                    більше часу.</p>
                <p>Вони до того ж не бояться бути прямими у висловлюваннях, і прямота ця нерідко межує з різкістю.
                    Частково твердження, що існує неправильна думка та думка Скорпіона можна вважати правильним.</p>
                <p>Скорпіонів можна вважати одними з найпалкіших коханців. Вони живуть пристрастями. Об'єктом
                    обожнювання захоплюються миттєво, проте так само швидко й остигають до нього. </p>
                <p>Народжені під цим сузір'ям дуже емоційні, досить ранимі і образливі, а також мстиві особистості. Не
                    варто дивуватися якщо Вам нагадають через багато років про дитячу образу. Вони володіють прекрасно
                    розвиненою інтуїцією до якої підключають хитрість.</p>
                <p>Скорпіон - владна особистість, яка прагне все контролювати.</p>
                <div id="footer">
                    <div class="left_footer">Astrology &copy; 2022</div>
                    <div class="right_footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>