<%- include('../../partials/meta', {title: '| Телець', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
                <div class="returnButton">
					<a href="/characteristics">
						<img src="../../img/back_arrow.png" alt="back_arrow">
					</a>
				</div>
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Телець<br>
                    21 квітня – 21 травня</h3>
                <p>Колір – блакитний або фіалковий<br>
                    Самоцвіт-оберіг – сапфір або бірюза<br>
                    Стихія – земля<br>
                    Планета – Венера</p>
                <img id="img3" src="../../img/taurus.png">
                <p>Представники цього знаку – творці та гурмани. Тельці здатні втілювати в життя найкрасивіші мрії. У
                    своїх діях вони керуються аналітичним мисленням і інтуїцією.</p>
                <p>Телець втілює собою принцип любові до життя та його благ. Він уміє й любить працювати та прагне до
                    комфортного, безбідного життя. Яскраво виражена практичність і життєва мудрість, неквапливість у
                    роботі.</p>
                <p>Тельців можна сміливо назвати гарними домогосподарями. Своє помешкання вони намагаються зробити
                    затишним та максимально функціональним. Тому коли прийдете до них у гості, не треба зупиняти
                    поривань господаря провести екскурсію по своїх «володіннях». Жарти жартами, але потім Вас
                    обов’язково пригостять чимось смачненьким. Телець полюбляє й поїсти смачно.</p>
                <p>Представники цього знаку врівноважені, спокійні та вперті люди, а також розсудливі й практичні. У них
                    стійкі погляди на життя. Тельці цінують стабільність, яка в певному сенсі переростає у консерватизм.
                    Тому не варто дивуватися якщо улюбленець Венери не погодиться викинути у смітник своє старе, але
                    таке улюблене крісло.</p>
                <p>Принциповість - характеристика, яка одночасно дозволяє цим людям бути надійними, але незговірливість
                    в поєднанні з нею здатна призводити до конфліктів і непорозуміння з оточуючими.</p>
                <p>Представники цього знаку привітні. У коханні та дружбі вони вірні й постійні. Те, що вони страшні
                    аб’юзери частіше міф, аніж реальність. Ну любить Телець раптово зникати та не писати тижнями –
                    давайте йому це пробачимо, адже потрібен час і на себе гарненького.</p>

                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>