<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/signs_characteristic.css">
    
    <link rel="shortcut icon" href="../../img/logo.ico" type="image/x-icon">
    <title>Astrology | Близнюки</title>
</head>

<body>
    <div id="main_container">
        <div id="header">
            <img id="img" src="../../img/logo.png">
        </div>
        <ul class="menu-main">
            <li><a href="/">Головна</a></li>
            <li><a href="/news">Новини астрології</a></li>
            <li><a href="/characteristics" class="active">Характеристика знаків зодіаку</a></li>
            <li><a href="/day_advice">Порада дня</a></li>
            <li><a href="/year_horoscope">Гороскоп на рік</a></li>
        </ul>
    </div>
    <div class="center_content">
        <div class="maintext">
            <img id="img1" src="../../img/moon_stages.png">
            <img id="img2" src="../../img/moon_stages.png">
            <h2>Характеристика знаків зодіаку</h2>
            <h3>Близнюки<br>
                21 травня – 21 червня</h3>
            <p>Колір – білий<br>
                Самоцвіт-оберіг – агат<br>
                Стихія – повітря<br>
                Планета – Меркурій</p>
            <img id="img3" src="../../img/twins.png">
            <p>Представники цього знаку допитливі, ерудовані співрозмовники, темпераментні та невтомні. Життя Близнюків
                активне й насичене, вони легко пристосовуються до будь-яких обставин.</p>
            <p>Це мінливі люди, які можуть змінювати своє ставлення кілька разів на день. Мають характер, який є
                поєднанням протилежних рис. Такий характер не можна плутати з лицемірством. Дитяча безпосередність у них
                часом межує з безцеремонністю і нетактовністю, але їх добродушність і товариськість змушують сприймати
                деякі їх висловлювання як безневинну витівку. Можливі певні маніпулювання з боку улюбленців Меркурія.
            </p>
            <p>Енергійні, сильні духом, комунікабельні, добрі і ніжні, вони, тим не менш, незалежні. Їх цікавість і
                весела вдача дозволяє їм легко сходитися з різними людьми. </p>
            <p>Незважаючи на те, що twins готові підтримувати близьких людей в будь-якій ситуації, іноді вони
                здаються поверхневими. Не завжди народжені під цим сузір'ям виявляють відповідальність, надійність,
                стабільність. Тому не варто дивуватися, якщо Вам скажуть, що якесь прохання чи задача не виконана до
                кінця. От Вам привіт від любителів дедлайнів.</p>
            <p>Їм не позичати щедрості, що межує з марнотратством. twins часто купують те, що їм було не дуже
                потрібно, однак «було по акції», «такий колір гарюній», «це дуже прикольна штука з тік току».</p>

            <div id="footer">
                <div class="left_footer">Astrology &copy; 2022</div>
                <div class="right_footer"></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>