<%- include('../../partials/meta', {title: '| Діва', css: '../../css/signs_characteristic.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>
        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Діва<br>
                    22 серпня – 23 вересня</h3>
                <p>Колір – усі відтінки зеленого<br>
                    Самоцвіт-оберіг – сердолік або нефрит<br>
                    Стихія – земля<br>
                    Планета – Меркурій</p>
                <img id="img3" src="../../img/virgo.png">
                <p>Тут багато хто захоче одразу ж сказати: «Діви це душніли, яким все завжди не так». Ні, рідненькі, не
                    вгадали. Просто Дівам хочеться порядку та досконалості у своєму житті. Так, навіть якщо Вам це не
                    подобається. Так, це педанти та перфекціоністи, тому не треба чіпати оту вазу, навіть якщо дуже
                    хочеться. Однак погодьтеся: вони круто вміють бачити ціле у деталях.</p>
                <p>Інтелект Дів поєднує в собі логіку і водночас розвинену інтуїцію. Їм притаманні увага до деталей,
                    скрупульозність у виконанні поставлених завдань, критичне мислення, практичність. Нагадую знову –
                    вони не душніли! Представники цього земного знаку є практичними, мудрими, раціональними. </p>
                <p>Не менш виражені у них і такі якості як працьовитість, відповідальність і самовідданість в будь-якій
                    справі, за яку вони беруться. Діва старанна, посидюча і виконавча, і ці якості у неї проявляються,
                    мабуть, яскравіше, ніж в інших знаків зодіаку, яким вони теж притаманні. </p>
                <p>Народжені під цим сузір'ям дуже тяжіють до матеріального достатку та розкоші. Багато представників не
                    люблять галасливі компанії та публічність, однак якщо з Вами улюбленці Меркурію поводять себе
                    інакше, то мої вітання – ви насправді друзі. Ображати цих представників не радимо, бо Діва
                    відповість так, що ще рік будете ходити до психотерапевта. А так вони добрі котики з якими цікаво
                    обговорювати якість глобальні теми типу проблем з освітою або ж просто філософствувати про сенс
                    життя під келих вина, дивлячись на захід сонця.</p>
                
                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>