<%- include('../partials/meta', {title: '| Новини', css: '../css/news.css', generalCssPath: '../'}); %>

<body>
    <div id="main_container">
        <%- include('../partials/header', {logoRelPath: './'}); %>

        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../img/moon_stages.png">
                <img id="img2" src="../img/moon_stages.png">
                <h1>Новини астрології</h1>
				<p>Найсвіжіщі новини астрологічного світу читайте нижче</p>
				<a href="/news/eclipses_corridore" class="news">Чого очікувати від коридора затемнень?</a>
				<a href="/news/autumn_equinox" class="news">Що ж підготувало для Вас Осіннє рівнодення 23 вересня 2022 року</a>
				<a href="/news/retrograd_mercury" class="news">Ретроградний Меркурій 10 вересня - 2 жовтня 2022 року: що на нас чекає</a>

                <%- include('../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>