<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/advice_button.css">

    <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
    <title>Astrology | Порада дня</title>
</head>

<body>
    <div id="main_container">
        <div id="header">
            <img id="img" src="../img/logo.png">
        </div>
        <ul class="menu-main">
            <li><a href="/">Головна</a></li>
            <li><a href="/news">Новини астрології</a></li>
            <li><a href="/characteristics">Характеристика знаків зодіаку</a></li>
            <li><a href="/day_advice" class="active">Порада дня</a></li>
            <li><a href="/year_horoscope">Гороскоп на рік</a></li>
        </ul>
        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="../img/moon_stages.png">
                <img id="img2" src="../img/moon_stages.png">
                <h2>Порада дня</h2>
                <p>Добрий ранок, день чи можливо навіть вечір! Не важливо о котрій годині з’явився час чи просто стало
                    цікаво – зірки завжди раді Вас бачити. А тому беріть філіжанку улюбленого напою, щось смачненьке та
                    вмощуйтеся зручніше (це просто порада від нас). А от що ж саме Вам можуть порадити зірки –
                    дізнайтесь нижче.</p>

                <div class="advice">
                    Натисни мене
                </div>

                <div id="footer">
                    <div class="left_footer">Astrology &copy; 2022</div>
                    <div class="right_footer"></div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src='src/js/button_advice.js'></script>

</html>