<div class="scrollButton"><img src="../img/back_arrow.png" alt="up_arrow"></div>

<div id="footer">
    <div class="left_footer">Astrology &copy; 2022</div>
    <div class="right_footer"></div>
</div>

<script src="../src/js/upScrollButton.js"></script>