<div id="header">
    <img id="img" src="<%= logoRelPath %>img/logo.png">
</div>
<ul class="menu-main">
    <li><a href="/">Головна</a></li>
    <li><a href="/news">Новини астрології</a></li>
    <li><a href="/characteristics">Характеристика знаків зодіаку</a></li>
    <li><a href="/day_advice">Порада дня</a></li>
    <li><a href="/year_horoscope">Гороскоп на рік</a></li>
</ul>