<%- include('../../partials/meta', {title: '| Коридор затемнень', css: '../static/css/news.css'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <a href="/news">
					<div class="returnButton">
						<img src="../static/img/back_arrow.png" alt="back_arrow">
					</div>
				</a>
                <%- include('../../partials/moons'); %>
                <h2>Новини астрології</h2>
				<h3>Коридор затемнень 25 жовтня – 8 листопада</h3>
				<img id="img5" src="../static/img/eclipse_corridor.png">
				<p>Коридор затемнень. Звучить моторошно, чи не так? Однак, а чи насправді воно так і є?</p>
				<p>У цей час буде подаровано багато чудових можливостей для тих, хто впевнено крокує до своєї мети. 
				Тим, хто має певні сумніви цей період покаже підказки, які важливо вчасно побачити та правильно зрозуміти. 
				Тому в цей час варто зосередитися на власних почуттях. Прислухайтеся до внутрішнього голосу та побалуйте оту «дитину» всередині своєї душі.</p>
				<p>Під час коридору затемнень можуть відбуватися кардинальні зміни у всіх сферах життя. 
				Особливо це стосується улюбленців стихії вогонь – Стрільця, Овна та Лева.</p>
				
                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>