<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediator</title>
    <style>
        div {
            width: 250px;
            height: 200px;
            display: flex;
            align-self: center;
            border-radius: 30px;
            font: bold;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <a href="/news">
        <div>Click</div>
    </a>
</body>
</html>