<%- include('../../partials/meta', {title: '| Осіннє рівнодення 2022', css: '../../css/news.css', generalCssPath: '../'}); %>

<body>
	<div id="main_container">
		<%- include('../../partials/header', {logoRelPath: '../'}); %>

		<div class="center_content">
			<div class="maintext">
				<a href="/news">
					<div class="returnButton">
						<img src="../../img/back_arrow.png" alt="back_arrow">
					</div>
				</a>
				<img id="img1" src="../../img/moon_stages.png">
				<img id="img2" src="../../img/moon_stages.png">
				<h2>Новини астрології</h2>
				<h3>Осіннє рівнодення 23 вересня 2022 року</h3>
				<img id="img5" src="../../img/autumn_equinox.png">
				<p>Меркурій продовжує ретроградити, а в нас тут Осіннє рівнодення.
					Зараз розберемося що ж воно таке і з чим його «їсти». </p>
				<p>У цей день особлива атмосфера. Давно розпочаті процеси набувають нових обертів, стає зрозумілим
					таємний сенс того,
					що відбувається навколо, приходить усвідомлення з багатьох питань.
					З'являється можливість зробити ривок вперед у справах, які мляво розвиваються, і вийти на наступний
					рівень, а, можливо, поставити крапку, якщо таке бажання є
					(тут не буде жарту про колишніх).</p>
				<p>Після Осіннього рівнодення настане відносна стабільність, зникнуть негативні установки підсвідомості,
					однак дні перед ним можуть бути досить емоційні, а тому візьміть невелику паузу та не поспішайте.
				</p>
				<p>Кардинальні зміни відбудуться у всіх, однак, представники стихії повітря – Близнята, Терези та
					Водолій,
					у вигідніших умовах порівняно з іншими знаками зодіаку.</p>
				<p>Може бути напруженим день Осіннього рівнодення для Овнів, Раків та Козорогів – це час непростого
					вибору,
					необхідності швидко приймати рішення та перешкод, що зненацька виникли. Однак Ви все здолаєте, тому
					не варто занадто хвилюватися.</p>
				<p>Більшість Левів та Стрільців зможуть здобути спокій та жити в гармонії зі світом та самим собою.</p>
				<p>Тельці, Діви, Скорпіони, Риби змушені будуть змінювати свій звичний режим дня, перебудовувати на
					новий лад свою професійну сферу та життя загалом.</p>
				<p>Осіннє рівнодення закінчує один цикл і починає новий, а в період їхньої зміни найбільше страждає той,
					хто не хоче змінюватися,
					тому не варто чіплятися за те, що йде. Отже, викиньте Ви вже оту страшну фіранку зі свого будинку та
					людину, що зробила боляче, зі своєї голови.</p>

				<%- include('../../partials/footer'); %>
			</div>
		</div>
	</div>
</body>

</html>