<%- include('../../partials/meta', {title: '| Ретроградний Меркурій 2022', css: '../../css/news.css', generalCssPath: '../../'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header', {logoRelPath: '../'}); %>

        <div class="center_content">
            <div class="maintext">
				<a href="/news">
					<div class="returnButton">
						<img src="../../img/back_arrow.png" alt="back_arrow">
					</div>
				</a>
                <img id="img1" src="../../img/moon_stages.png">
                <img id="img2" src="../../img/moon_stages.png">
                <h2>Новини астрології</h2>
				<h3>Ретроградний Меркурій 10 вересня - 2 жовтня 2022 року</h3>
				<img id="img5" src="../../img/retrograd_mercury.png">
				<p>10 вересня починається ретроградний Меркурій…. «М-да, треш», - могли б сказати Вам ми, однак не такий цей період страшний як його описують. 
				Спочатку ретроградити буде в Терезах. Завдяки цьому ми з Вами будемо зважувати всі «за» і «проти». 
				Не варто дивуватися, якщо в Вас раптом прокинеться філософ, який буде вимагати відповіді на питання бути чи не бути.</p>
				<p>Транзит Меркурія з Терезами сприятливий для примирення з опонентами, адже в цьому допомагатимуть внутрішня рівновага та розважливість 
				(нарешті вже почали діяти отой клятий м’ятний чай та валер’яна – це просто крик відчаю автора, тому не звертайте увагу ☺). 
				Взагалі, зірки рекомендують у такі періоди не поспішати, бо не тільки людей насмішиш, а ще й перероблювати доведеться те саме по декілька разів. 
				Переміщаючись Терезами, ретроградний Меркурій сприяє творчій діяльності.</p>
				<p>Від 10 вересня до 2 жовтня вийдуть на поверхню всі раніше скоєні помилки, зокрема у сфері особистих і ділових взаємин (тут має бути жарт про колишніх). 
				У цей же період прокидаються люди – інтригани, що звичайно не дуже файно.</p>
				<p>23 вересня Меркурій на ретро фазі руху повертається до знаку Діви, що сприятиме заглибленню у фінансові справи, питання власного здоров'я, 
				побут, повсякденні турботи (вмикаємо режим «відчайдушні домогосподині»). 
				Можуть виникнути проблеми з самооцінкою, тому не варто себе занадто критикувати.</p> 
				<p>26 вересня - з'єднання ретро Меркурія та Венери, і цього ж дня - молодик у Терезах. Це отой самий день про який кажуть «от завтра точно почну». 
				Жарти жартами, однак починати щось нове дійсно варто, бо це найкращий час для створення стійкого фундаменту.</p>
				<p>На останок скажемо, що нехай отой ретроград Меркурію не робить у Вашому житті погоди! Тому тримаємося - Ви котики і все обов’язково буде добре!</p>
				
                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>