<%- include('../../partials/meta', {title: '| Лев', css: '../../static/css/signs_characteristic.css'}); %>


<body>
    <div id="main_container">
        <%- include('../../partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <a id="return" href="/characteristics">
                    <div class="returnButton">
                        <img src="../../static/img/back_arrow.png" alt="back_arrow">
                    </div>
                </a>
                <%- include('../../partials/moons'); %>
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Лев<br>
                    23 липня – 22 серпня</h3>
                <p>Колір – жовтий або світло-зелений<br>
                    Самоцвіт-оберіг – топаз, олівіт або бурштин<br>
                    Стихія – вогонь<br>
                    Планета – Сонце</p>
                <img id="img3" src="../../static/img/leo.png">
                <p>Лев це ще один природжений лідер. Вони сильні та цілеспрямовані, чарівні й харизматичні, люблять бути
                    в центрі уваги і подобатися оточенню. Одразу видно, що вони улюбленці Сонця. Окрім цього це дуже
                    енергійні люди. Представники знаку наділені даром творення і наполегливості у досягненні своїх
                    цілей. Це надзвичайно творчі люди. Але водночас вони трошки вперті нарцисики. Ну тяжко себе не
                    любити, якщо ти реально крутий.</p>
                <p>Леви часто залежать від схвалення своїх дій і досягнень. Високі оцінки оточуючих надають
                    представникам знаку додаткові сили на виконання поставлених завдань, тому не забувайте
                    підбадьорювати їх. Хоча Леви й люблять, коли їх хвалять, але ненавидять ні брехні, ні лестощів. У
                    складних умовах Леви винахідливі. Вони вміють брати на себе всю повноту відповідальності в прийнятті
                    важливих життєвих рішень.</p>
                <p>Представники цього знаку обожнюють багатство та розкіш. Це саме ті люди серед майна яких обов’язково
                    зайдуться техніка від Apple та одяг від іменитих дизайнерів. Не відмовляться вони й від декількох
                    прикрас високої вартості. Однак улюбленців Сонця не можна вважати жадібними, навпаки вони славляться
                    своєю щедрістю.</p>
                <p>Якщо не знаєте що робити в якійсь ситуації, то можете сміливо звертатися за порадою до Лева, бо вони
                    відмінні порадники. Представник знаку насправді допоможе Вам у складній ситуації.</p>
                <p>Незважаючи на досить непростий характер, більшість з представників дуже товариські та мають багато
                    друзів.</p>

                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>