<%- include('../../partials/meta', {title: '| Риби', css: 'css/signs_characteristic.css'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <a href="/characteristics">
                    <div class="returnButton">
                        <img src="static/img/back_arrow.png" alt="back_arrow">
                    </div>
                </a>
                <%- include('../../partials/moons'); %>
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Риби<br>
                    21 лютого – 20 березня</h3>
                <p>Колір – зелений<br>
                    Самоцвіт-оберіг – аметист або перли<br>
                    Стихія – вода<br>
                    Планета – Юпітер</p>
                <img id="img3" src="static/img/pisces.png">
                <p>Цей представник зодіакального кола є найнестабільнішим з усіх в емоційному плані. Інколи зрозуміти їх
                    дуже важко, однак слід пам’ятати, що Риби це просто ранимі та сентиментальні котики. Вони як ніхто
                    потребують емоційної підтримки. Часто можуть страждати від якихось фобій, але Вам не зізнаються в
                    цьому. </p>
                <p>Риби мають досить м’який характер, в основному вони не здатні конфліктувати, однак як ми знаємо
                    добре: вивести з себе можна навіть праведників. Це максимально не злопам’ятний знак. Окрім цього
                    Риби досить безкорисливі та щедрі.</p>
                <p>Улюбленці Юпітеру справжні мрійники та творчі особистості. Причому з віком це нікуди не зникає, тому
                    не потрібно дивуватися, якщо поважний чоловік раптово розповість, що й досі мріє стати піратом, бо
                    їм не треба платити податки.</p>
                <p>Змусити змінити щось у власному житті майже не можливо, адже це люди, що звикли пливти за течією.
                    Однак мусимо визнати, що це далеко не завжди погано.</p>
                <p>Сильними сторонами цього знаку є розвинена інтуїція й уміння пристосовуватися до будь-якого
                    громадського порядку.</p>
                <p>Часто Риб називають затворниками. Так, товариськими їх складно назвати. Але насправді спілкування з
                    людьми приносить їм величезне задоволення, просто коло спілкування вони формують дуже вибірково.</p>
                <p>Мабуть Юпітер якось особливо впливає на Риб, бо вони не характеризуються вираженою відповідальністю,
                    їм характерна лінь. Ще одне вітання любителям дедлайнів.</p>

                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>