<%- include('../../partials/meta', {title: '| Стрілець', css: 'css/signs_characteristic.css'}); %>

<body>
    <div id="main_container">
        <%- include('../../partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <a href="/characteristics">
                    <div class="returnButton">
                        <img src="static/img/back_arrow.png" alt="back_arrow">
                    </div>
                </a>
                <%- include('../../partials/moons'); %>
                <h2>Характеристика знаків зодіаку</h2>
                <h3>Стрілець<br>
                    23 листопада – 21 грудня</h3>
                <p>Колір – фіалковий або блакитний<br>
                    Самоцвіт-оберіг – бірюза або сапфір<br>
                    Стихія – вогонь<br>
                    Планета – Юпітер</p>
                <img id="img3" src="static/img/sagittarius.png">
                <p>Мабуть, більшість супергероїв це Стрільці, адже саме у них яскраво виражені почуття та потяг до
                    справедливості. Ці представники стихії вогонь ненавидять брехню найбільше з усіх. Вони люди щирі та
                    відкриті. Цей знак любить бути в центрі уваги. Славляться вони також своєю товариськістю. Так, це ті
                    миленькі котики з якими буде максимально комфортно будь-кому. Їх також можна вважати досить чудовими
                    дипломатами та психологами.</p>
                <p>Сміливо можна назвати улюбленців Юпітеру ще одними природженими лідерами. Це оптимістичний та
                    енергійний знак. Стрільцю буде цікаво все нове. Це людина, що займається своєю самоосвітою та легко
                    здатна змінювати своє хобі. А тому сміливо можете запрошувати їх у похід у гори або ж на чайну
                    церемонію – вони з радістю погодяться. Окрім цього будьте готові до численних пригод, що оточують
                    улюбленців стихії вогонь. Варто зазначити, що безпеці такі люди надають багато уваги.</p>
                <p>Стрілець – цілеспрямований знак. Представники цього сузір’я досягають своєї мети, незважаючи на
                    численні перешкоди. Не поступається цей знак своєю впертістю. Якщо захочеться з ним посперечатися,
                    то краще пошукайте собі іншого супротивника. Вони також можуть похвалитися своїм чудовим інтелектом.
                </p>

                <%- include('../../partials/footer'); %>
            </div>
        </div>
    </div>
</body>

</html>