<%- include('partials/meta', {title: '', css: 'css/main.css', generalCssPath: ''}); %>

<body>
    <div id="main_container">
        <%- include('partials/header', {logoRelPath: './'}); %>

        <div class="center_content">
            <div class="maintext">
                <img id="img1" src="img/moon_stages.png">
                <img id="img2" src="img/moon_stages.png">
                <img id="imgtext" src="img/pattern.png">
                <p>Ще з давніх – давен людство цікавиться багатьма питаннями. Таким чином з’являються та набувають
                    розвитку багато різноманітних наук. Здавалося б, що все у цьому світі є закономірним, однак існують
                    певні аспекти життя, які не піддаються типовій логіці. Тут на допомогу й приходять «нетипові науки».
                    Однією з таких і стала астрологія – наука про зірки та можливість передбачення майбутнього по їх
                    положенню.</p>
                <p>Кажемо одразу, що анічогісінько страшного й поганого в цьому вченні немає. Так, зірки не можуть щось
                    казати напевно. На цьому місці передаємо вітання тим, хто з криками та активними жестами буде
                    доводити, що ми в такому випадку займаємося маячнею – прошу, ваше право (☺ – тримайте смайлика, щоб
                    не були такі злі).</p>
                <p>Астрологія може лише надавати певні поради та показувати, що у Вас завжди є вибір того, як вчинити –
                    глухих кутів немає. Чи прислухатися до цього чи ні – цілком Ваш вибір. Для тих, хто кричить, що
                    кінець світу настав і він/вона не знає чим займатися далі, будемо нагадувати, що нєєє (так, саме
                    «нєєє» і ніяк інакше), шановні, це так не працює. Майбутнє обов’язково було й буде, а також не таке
                    страшне, як здається.</p>
                <p>PS: беріть щось смачненьке й давайте глянемо, що ж скажуть нам сьогодні зірки!</p>
                <%- include('partials/footer'); %>
            </div>
        </div>
    </div>
</body>
</html>