/*-----меню вибору статті на сторінкці новини астрології-----*/
.news {
    display: inline-block;
    background: black;
    width: 80%;
    height: 40px;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 9px;
}

.news:hover {
    background: white;
    color: black;
}


/*-----Зображення на сторінці новини астрології-----*/
#img5 {
    float: center;
    padding: 5px;
    width: 600px;
    height: 400px;
}