@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

.advice {
    min-height: 200px;
    padding: 7.5% 10% 3%;
    background-color: black;
    border-radius: 25px;

    font-family: 'Playfair Display', serif;
    color: white;
	
	cursor: pointer;
}

.animation {
	cursor: default;
}

.done {
    background-image: url('../img/star_sky_bg.png');
    background-repeat: repeat-y;
    color: white;
    opacity: 0;
}