/*-----меню вибору статті на сторінкці новини астрології-----*/
.news {
    display: inline-block;
    background: black;
    width: 80%;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 9px;
}

.news:hover {
    background: white;
    color: black;
}


/*-----Зображення на сторінці новини астрології-----*/
#img5 {
    float: center;
    padding: 5px;
}


/* -----Кнопка повертання на сторінку новин----- */
.returnButton {
    width: 30px;
    background-color: #3e3e3e;
    opacity: 0.5;
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
    position: absolute;
}

.returnButton:hover {
    background-color: #676767;
    opacity: 0.7;
}

.returnButton:active {
    background-color: #282828;
    opacity: 0.7;
}

.returnButton img {
    width: 15px;
    height: 15px;
}