<%- include('partials/meta', {title: '| Порада дня', css: 'css/advice_button.css'}); %>


<body>
    <div id="main_container">
        <%- include('partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <%- include('partials/moons'); %>
                <h2>Порада дня</h2>
                <p>Добрий ранок, день чи можливо навіть вечір! Не важливо о котрій годині з’явився час чи просто стало
                    цікаво – зірки завжди раді Вас бачити. А тому беріть філіжанку улюбленого напою, щось смачненьке та
                    вмощуйтеся зручніше (це просто порада від нас). А от що ж саме Вам можуть порадити зірки –
                    дізнайтесь нижче.</p>

                <div class="advice">
                    Натисни мене
                </div>

                <%- include('partials/footer'); %>

            </div>
        </div>
    </div>

</body>
<script src='src/js/button_advice.js'></script>

</html>