<%- include('partials/meta', {title: '| Гороскоп на рік 2023', css: 'css/years_horoscope.css'}); %>

<body>
    <div id="main_container">
        <%- include('partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <%- include('partials/moons'); %>
                <h1>Гороскоп на 2023 рік</h1>
                <p>2023 рік - час великих змін, які все ж таки принесуть удачу кожному!</p>
                <p>Оберіть свій знак зодіаку</p>

                <a href="#aries" class="btn">Овен</a>
                <a href="#taurus" class="btn">Телець</a>
                <a href="#twins" class="btn">Близнюки</a>
                <a href="#cancer" class="btn">Рак</a><br>
                <a href="#leo" class="btn">Лев</a>
                <a href="#virgo" class="btn">Діва</a>
                <a href="#libra" class="btn">Терези</a>
                <a href="#scorpio" class="btn">Скорпіон</a><br>
                <a href="#sagittarius" class="btn">Стрілець</a>
                <a href="#carpicorn" class="btn">Козеріг</a>
                <a href="#aquarius" class="btn">Водолій</a>
                <a href="#pisces" class="btn">Риби</a>

                <p><a name="aries">Гороскоп на 2023 рік для Овнів</a></p>
                <img id="img4" src="static/img/aries_star.png">

                <p>Овнам 2023 рік принесе не тільки нові прекрасні знайомства, але і вдарить їх стрілою амура! У вас є
                    шанс або знайти нове кохання, з яким ви будете до кінця життя триматися за руки, або припинити всі
                    негаразди з вже наявним партнером. Відбудуться зміни в характері: ви відкриєте нові грані.</p>

                <p><a name="taurus">Гороскоп на 2023 рік для Тельців</a></p>
                <img id="img4" src="static/img/taurus_star.png">

                <p>Для Тельців цей рік принесе успіх у здоров'ї: вирішуватимуться всі проблеми, які супроводжували
                    більше одного року. Те саме чекає на вашу сім'ю: тотальні проблеми організмів зникнуть, начебто їх і
                    не було. Але можуть бути перешкоди на роботі: вам варто подумати про те, наскільки вам дороге
                    кар'єрне зростання і прибуток та зрозуміти, чи варто змінювати сферу діяльності.</p>

                <p><a name="twins">Гороскоп на 2023 рік для Близнюків</a></p>
                <img id="img4" src="static/img/twins_star.png">

                <p>Для Близнюків цього року варто замислитися над тим, щоб відкрити нові таланти: можливо, вам
                    подобається спів та танці? Не соромтеся і починайте нове хобі, адже 2023 рік прогнозує успіх! Цього
                    року не варто обмежувати себе, беріться за кожну можливість! Можливо, ваше нове починання навіть
                    буде приносити прибуток і переросте в масштабний бізнес.</p>

                <p><a name="cancer">Гороскоп на 2023 рік для Раків</a></p>
                <img id="img4" src="static/img/cancer_star.png">

                <p>Ракам у 2023 році будуть на роздоріжжі: буде два варіанти, якою стежкою згорнути. Це стосується
                    абсолютно кожної сфери життя, де вибір між "почути серце" або "послухати мозок". Який робити вибір —
                    це лише ваше рішення, але новий рік точно не дасть вам сумувати або шкодувати про що-небудь. Чекайте
                    на успіх у кар'єрі та у партнерських відносинах.</p>

                <p><a name="leo">Гороскоп на 2023 рік для Левів</a></p>
                <img id="img4" src="static/img/leo_star.png">

                <p>Для Левів 2023 рік буде успішним у сфері бізнесу та кар'єри. Ваша фінансова піраміда просто вибухне
                    від усіх успішних проєктів! Ви будете поглинені різними ідеями, які отримають хороші відгуки. Можете
                    точно очікувати підвищення! Але при цьому ці успіхи можуть потягнути за собою простій в інших сферах
                    життя, намагайтеся тримати баланс.</p>

                <p><a name="virgo">Гороскоп на 2023 рік для Дів</a></p>
                <img id="img4" src="static/img/virgo_star.png">

                <p>Буде переломним періодом: ви зрозумієте, що те, чого ви прагнули всі минулі роки, вже може не мати
                    жодного значення. Ви знайдете психологічну свободу і почнете слухати себе та свої інтереси. Ваше
                    коло спілкування може змінитися і можливо ви будете важко це переживати: але повірте, ваші
                    хвилювання не коштуватимуть прекрасного результату.</p>

                <p><a name="libra">Гороскоп на 2023 рік для Терезів</a></p>
                <img id="img4" src="static/img/libra_star.png">

                <p>libra, варто приділити увагу своєму здоров'ю: у 2023 році вам слід особливо обережно ставитися до
                    свого організму і пройти всі необхідні огляди. Ви часто нехтували цим, і саме час змінити свій
                    світогляд. Однак запевняємо, що в 2023 році ви точно будете чудово почуватися, а поруч буде надійний
                    партнер, який точно зробить вас щасливими!</p>

                <p><a name="scorpio">Гороскоп на 2023 рік для Скорпіонів</a></p>
                <img id="img4" src="static/img/scorpio_star.png">

                <p>Скорпіони повинні бути обережні зі своїми словами та діями, тому що у новому році ви можете сильно
                    поранити близьких. Це загрожує зменшенням кола спілкування чи навіть самотністю. Вам варто
                    переосмислити вашу думку щодо оточення, а також обдумати вчинки минулого року. Проте запевняємо:
                    після вашого детального аналізу вам гарантовано чудовий настрій та неймовірних людей поряд.</p>

                <p><a name="sagittarius">Гороскоп на 2023 рік для Стрільців</a></p>
                <img id="img4" src="static/img/sagittarius_star.png">

                <p>Стрільці, стабільність — це ваше слово 2023 року. У вас будуть абсолютно спокійні та приємні будні.
                    Ваші рідні будуть щасливі і здорові, старі друзі будуть з вами, партнер любитиме вас, а ви
                    любитимете його, а фінансова подушка буде більш ніж задовільна. Це буде рік-перепочинок: вам точно
                    потрібне таке перезавантаження.</p>

                <p><a name="carpicorn">Гороскоп на 2023 рік для Козерогів</a></p>
                <img id="img4" src="static/img/capricorn_star.png">

                <p>Для Козерогів рік буде сповнений неймовірних подарунків долі: вас чекають захоплюючі подорожі та
                    відкриття. Ви зможете відчути життя по-новому та розширити свої горизонти. У партнерських відносинах
                    пануватиме гармонія, але вам варто звернути увагу на кар'єру та вирішити всі незакінчені питання.
                </p>

                <p><a name="aquarius">Гороскоп на 2023 рік для Водоліїв</a></p>
                <img id="img4" src="static/img/aquarius_star.png">

                <p>Водолії, рік буде сповнений сюрпризів: відбудеться те, чого ви ніяк не можете очікувати! Вітер змін
                    віднесе вас далеко, так що вперед до нових пригод! Вас можуть зацікавити такі сфери діяльності, як
                    підприємство, журналістика або навіть дизайн (імовірніше за архітектуру). Можете сміливо рухатись
                    вперед, адже вас обов'язково підтримають.</P>

                <p><a name="pisces">Гороскоп на 2023 рік для Риб</a></p>
                <img id="img4" src="static/img/pisces_star.png">

                <p>Риби, у вас можуть виникнути фінансові труднощі. Однак не поспішайте засмучуватися: вони тимчасові і,
                    якщо докласти достатньої кількості зусиль, з "мінусу" ви зможете всього за пару місяців вийти в
                    "жирний плюс". Але якщо ви не будете діяти і відправите все на самоплив, ви можете весь рік бути в
                    простої.</p>

                <%- include('partials/footer'); %>

            </div>
        </div>
    </div>

</body>

</html>