<%- include('../partials/meta', {title: '| Характеристики', css: 'static/css/years_horoscope.css'}); %>

<body>
    <div id="main_container">
        <%- include('../partials/header'); %>

        <div class="center_content">
            <div class="maintext">
                <%- include('../partials/moons'); %>
                <h1>Характеристика знаків зодіаку</h1>
                <p>Кожен з нас має власний характер, думки, мрії та ставлення до чогось. На це впливає багато різних
                    факторів, одним з яких астрологія вважає положення зір у момент Вашого народження, тобто Ваш знак
                    зодіаку.</p>
                <p>Існує 12 так званих сузір’їв, які входять до зодіакального кола. Кожне з них може показати різні
                    сторони Вашої особистості.</p>
                <p>Ми зібрали факти про кожен знак зодіаку. Можливо щось захочеться змінити в собі, а щось навпаки
                    викличе захоплення, бо таке життя!</p>

                <div class="btnWrap">
                    <a href="characteristics/Aries" class="btn">Овен</a>
                    <a href="characteristics/Taurus" class="btn">Телець</a>
                    <a href="characteristics/Twins" class="btn">Близнюки</a>
                    <a href="characteristics/Cancer" class="btn">Рак</a><br>
                    <a href="characteristics/Leo" class="btn">Лев</a>
                    <a href="characteristics/Vigra" class="btn">Діва</a>
                    <a href="characteristics/Libra" class="btn">Терези</a>
                    <a href="characteristics/Scorpio" class="btn">Скорпіон</a><br>
                    <a href="characteristics/Sagittarius" class="btn">Стрілець</a>
                    <a href="characteristics/Capricorn" class="btn">Козеріг</a>
                    <a href="characteristics/Aquarius" class="btn">Водолій</a>
                    <a href="characteristics/Pisces" class="btn">Риби</a>
                </div>

                <%- include('../partials/footer'); %>

            </div>
        </div>
    </div>

</body>

</html>